.cell {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

.lightgrey {
  background-color: lightgray;
}

.darkgrey {
  background-color: grey;
}

.blue {
  background-color: blue;
}

h1,
h2,
h3,
h4 {
  color: black;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}
