.cell {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

.lightgrey {
  background-color: rgb(206, 206, 206);
}

.darkgrey {
  background-color: rgb(180, 175, 175);
}

.blue {
  background-color: rgb(81, 81, 243);
}

.yellow {
  background-color: rgb(238, 238, 102);
}
.red {
  background-color: rgb(223, 85, 85);
}

.green {
  background-color: rgb(100, 192, 100);
}

.purple {
  background-color: rgb(161, 89, 161);
}

.orange {
  background-color: rgb(250, 180, 51);
}

.white {
  background-color: rgb(255, 240, 240);
}

h1,
h2,
h3,
h4 {
  color: black;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}
