.cell {
  display: inline-block;
  width: 35px;
  height: 35px;
  /* border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 10%; */
}

/* @keyframes fade {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.99);
  }
  100% {
    -webkit-transform: scale(1);
  }
} */
/* .cell {
  animation: fade 1.5s infinite;
} */

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 30px black;
  margin-top: 175px;
}

.lightgrey {
  background-color: rgb(206, 206, 206);
  transition: background-color 150ms ease;
}

.darkgrey {
  background-color: rgb(180, 175, 175);
}

.blue {
  background-color: rgb(81, 81, 243);
}

.yellow {
  background-color: rgb(240, 240, 94);
}
.red {
  background-color: rgb(223, 85, 85);
}

.green {
  background-color: rgb(100, 192, 100);
}

.purple {
  background-color: rgb(161, 89, 161);
}

.orange {
  background-color: rgb(250, 180, 51);
}

.white {
  background-color: rgb(248, 242, 242);
}

.explode {
  background-color: bisque;
}

h1,
h2,
h3,
h4 {
  color: lightgray;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 30px;
}
